@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    
    *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;

    
    }

:root {
    --dkPurple: #231627;
    --brightRed: #ffcbcb;
    --dkRedRGrey: #39313B;
    --dkMagenta: #60040E;
    --goldenrod: #e1c71f;
    --medBlue: #0195D3;
    }

h3 {
    font-size: 1.5em;
    }

html {
    background: #fff;
    scroll-behavior: smooth;
    }

.index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    } 
body,
a {
    color: #000;
    } 

.navbar {
    width: 100%;
    }

.navbar-brand {
    align-items: center;
    }

.navbar-menu.is-active {
    background: #fff;
    box-shadow: none;
    min-height: 100vh;
    }

.navbar-item {
    color: #4d4d4d;
    margin: 0 1em;
    text-align: right;
    padding: 1em;
    }

.link-btn {
    cursor: pointer;
    }

.link-btn:hover {
    background: #000;
    color: #fff;
    }

.card {
    background-color: #fff;
    color: #4d4d4d;
    }

.title,
.subtitle {
    color: #343434;
    }

input,
textarea {
    border: 1px solid #343434;
    }

#classic {
    
/**
    CLASSIC STYLE
    */

#about {
    background-color: #86ffeb;
    }

.header {
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 250;
    box-shadow: 0 0px 15px #ddd;
    }

nav a {
    border-radius: 10px;
    }

.navbar-item:hover {
    background-color: #3282d1;
    color: #fff;
    }


.portrait {
    border-radius: 50%;
    }

#static {
    background-color: #a65abb;
    }

#service {
    background-color: #12ccff;
    }

#consulting {
    background-color: #f1af07;
    }

.subtitle {
    font-weight: 800;
    }

.static-sub,
.static-package-name {
    color: #632d72;
    }

.service-sub,
.service-package-name {
    color: #0389ae;
    }

.consult-sub,
.consult-package-name {
    color: #f1af07;
    }

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    }

.static-type,
.service-type,
.consult-type {
    padding: 1.5em;
    margin: 0.25em;
    width: 100%;
    border-radius: 15px;
    }

.static-type {
    box-shadow: 0 0 25px #632d72;
    }

.service-type {
    box-shadow: 0 0 25px #0389ae;
    }

.consult-type {
    box-shadow: 0 0 25px #996e02;
    }

.pricing {
    font-size: 1.5em;
    }

#static li,
#service li,
#consulting li {
    list-style-type: disc;
    line-height: 2em;
    }

#static li::marker {
    color: #12ccff;
    }

#service li::marker {
    color: #f1af07;
    }

#consulting li::marker {
    color: #a65abb;
    }

#service .list-item,
#consulting .list-item {
    list-style-type: none;
    background-color: #fff;
    border-radius: 15px;
    }

#contact {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }

.social-linkedin {
    color:rgb(13, 64, 116);
    }

#socials {
    width: 100%;
    }

#socials li {
    background-color: #c0d880;
    padding: 0.75em 1.25em;
    margin: .5em 1em;
    border-radius: 15px;
    }

.send-btn {
    background-color:#86ffeb;
    }

@media only screen and (min-width: 768px){
    .about-section {
        background: #000;
        background-image: url(../img/jignacio_portrait.jpg);
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        color: white;
        }

    .about-section::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }

    .about-section .title {  
        color: white;
        }

    .about-section .subtitle{
        color:rgb(255, 191, 0);
        }

    .portrait {
        display: none;
        }

    #socials ul {
        display: flex;
        justify-content: space-around;
        }
    }


@media only screen and (min-width: 900px){
        .jiggy-info {
            width: 50%;
            }

     #contact {
        display: block;
        }
    .contact {
        display: flex;
        justify-content: space-between;
        }
    #socials {
        width: 50%;
        }

    #socials ul {
        flex-direction: column;
        }
    }

@media only screen and (min-width: 1024px){
    .navbar {
        display: flex;
        flex-direction: row;
        }
            
    .navbar-burger {
        display: none;
        }

    .card {
        width: 35vw;
        }

    .contact {
        width: 100%;
        }
    
    .send-btn:hover {
        background-color:rgb(79, 193, 174);
        color: #fff;
    }

    #socials li:hover {
            background-color:rgb(135, 158, 73);
                color: #fff;
            }
    }

    @media only screen and (min-width: 1200px) {
        .contact {
            justify-content: center;
            }
        #socials {
            width: 25%;
            }
        }

    @media only screen and (min-width: 1366px){
        .information {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-between;
            }

        .card {
        width: 30vw;
        }
    }

        @media only screen and (min-width: 1408px){

        .jiggy-info {
            width: 30%;
            }
    }

    @media only screen and (min-width: 1408px){

        .jiggy-info {
            width: 30%;
            }
    }

    @media only screen and (min-width: 1600px) {
            #contact {
                margin: 0 auto;
                max-width: 80vw;
                }
            .contact {
                margin-right: 5em;
                }
        }
    }

#minimalist {
       
    .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    }

#about .jiggy-info {
    padding: 2em 0;
    }

.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

li {
    list-style-type: square;
    }

.navbar-menu li {
    list-style-type: none;
    padding: .25em 1em;
    margin: 0 1em;
    }

.navbar-menu li:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    }

.navbar-menu.is-active {
    background: #fff;
    box-shadow: none;
    min-height: 100vh;
    }

.navbar-burger {
    color: black;
    }

.list-item {
    list-style-type: none;
    }

.subtitle,
.pricing {
    font-size: 1.5em;
    }

aside {
    border: 1px solid #000;
    padding: 2em;
    margin-bottom: 1em;
    width: 100%;
    }

#contact-form,
#socials {
    border: none;
    }

#contact {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.social-linkedin {
    color:rgb(13, 64, 116);
    }

#socials {
    width: 100%;
    }

#socials li {
    width: fit-content;
    list-style-type: none;
    padding: 0.75em 1.25em;
    margin: .5em 1em;
    border-radius: 15px;
    }

#socials a {
    display: block;
    width: fit-content;
    }

@media only screen and (min-width: 768px){

    #socials ul {
        display: flex;
        justify-content: center;
        }
    }

@media only screen and (min-width: 980px){

    #about {
        display: flex;
        align-items: center;
        img {
            height: 45%;
            width: 45%;
            }

        .jiggy-info {
            padding: 3em;
            }
        }

    aside {
        width: 45%;
        }

    .contact {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        }

    #contact-form {
        width: 100%;
        }
    #socials {
        width: 20%;
        }

    #socials ul {
        flex-direction: column;
        }
    }

@media only screena and (min-width: 1024px){

    .contact {
        justify-content: center
    }

    #contact-form {
        width: 100%;
        }

    #socials {
       width: 22%;
     }

    #socials ul a li {
        border: 1px solid black;
        }
    }

@media only screen and (min-width: 1200px){
#about {
        .jiggy-info {
            padding: 5em;
            }
        }

.contact {
    width: 80%;
        }
    }
    }
